/*
 (C) Copyright 2020,2021. ContainerNative.
     SPDX-License-Identifier: CC-BY-NC-ND-4.0
*/

:root {
      --country-of-origin: "not_USA";
      --md-primary-fg-color:  #000000;
}


/*
.md-header {
  background-color: #191970;
}


.md-typeset a {
  color: #FF0000;
}
*/

